$azulOscuro: #062C5F;
$grisClaro: #F2F7F9;
$grisMedioClaro: #DEE2E6;
$grisMediano: #999999;
$grisOscuro: #666666;
$violeta: #990099;
$violetaClaro: #990099;
$blanco: #FFFFFF;
$negro: #000000;
$link: #02b0ef;
$naranja: #ff6600;
$verde: #3CC5AC;
$celeste: #D6F4FC;
$amarillo-telcel: #FFCC00;
$verde-telcel: #52CAB5;
$equipo-negro: #000000;
$equipo-negro-brillante: #463834;
$equipo-naranja: #F59354;
$equipo-rosado: #FF9BFA;
$equipo-verde: #65C773;
$equipo-turquesa: #00F4C6;
